@import "assets/css/variables.scss";
.preview-days {
  width: 80%;
  &.day .preview-day {
    color: $black;
  }
  &.night .preview-day {
    color: $white;
  }
  .preview-day {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    user-select: none;
    transition: 0.3s ease;
    img {
      pointer-events: none;
      width: 100px;
    }
  }
}
