@import "assets/css/variables.scss";
.preview-days {
  width: 100%;
  overflow: auto;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &.day .preview-day {
    color: $black;
  }
  &.night .preview-day {
    color: $white;
  }
  .preview-day {
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    user-select: none;
    transition: 0.3s ease;
    line-height: 1.5;
    img {
      pointer-events: none;
      width: 10rem;
    }
    @media (max-width: 1080px) {
      font-size: 14px;
      img {
        width: 80px;
      }
    }
  }
}
