@import "assets/css/variables.scss";
.locations {
  position: absolute;
  top: 21rem;
  left: 4rem;
  &.day .location,
  &.day .description {
    color: $black;
  }
  &.night .location,
  &.night .description {
    color: $white;
  }
  .location {
    transition: 0.3s ease;
    font-size: 4.8rem;
    margin-bottom: -1rem;
  }
  .description {
    transition: 0.3s ease;
    font-size: 22px;
  }
}
