@import "assets/css/variables.scss";
.time {
  margin-top: 10px;
  &.day {
    .date,
    .time-item {
      color: $black;
    }
  }
  &.night {
    .date,
    .time-item {
      color: $white;
    }
  }
  .date {
    font-size: 18px;
  }
  .time-detail {
    margin-top: 10px;
    .time-item {
      font-size: 4.8rem;
      text-align: right;
      &:nth-of-type(1) {
        margin-bottom: -2rem;
      }
    }
  }
}
