@import "assets/css/mixins.scss";

.app {
  @include box-shadow;
  position: relative;
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;

  .app-header,
  .app-footer {
    padding: 40px;
  }
  .app-footer {
    padding-bottom: 20px;
  }
}
