@import "assets/css/mixins.scss";

.app-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.3s ease;
  &.day {
    background: $pale;
    .app {
      @include box-shadow-day;
    }
  }
  &.night {
    background: $dark;
    .app {
      @include box-shadow-night;
    }
  }
}

.app {
  position: relative;
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;

  .app-header,
  .app-footer {
    padding: 40px;
  }
  .app-footer {
    padding-bottom: 20px;
  }
}
